@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    width: 1440px;
    background-color: hsl(206, 94%, 87%);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

#container{
    width: 900px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);
    padding: 17px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.step{
    background-color: hsl(243, 100%, 62%);
    width: 250px;
    height: 590px;
    border-radius: 10px;
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.top{
    margin-top: 10px;
}

.align{
    display: flex;
    align-items: center;
}

.num{
    margin-top: 15px;
    margin-left: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50pc;
    padding: 10px;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    padding: 10px 14px;
    background-color: transparent;
}

.num:active{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}

.column{
    display: flex;
    flex-direction: column;
}

.ste{
    margin-top: 20px;
    color: hsl(231, 11%, 63%);
    margin-left: 14px;
    margin-bottom: 4px;
}

.info{
    margin-left: 14px;
    margin-bottom: 5px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    letter-spacing: 1px;
}

.plan{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.select{
    color: hsl(213, 96%, 18%);
    margin-bottom: 8px;
    font-size: 2rem;
}

.you-have{
    margin-top: 0px;
    color: hsl(231, 11%, 63%);
}

.border{
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 30px;
    width: 120px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.border:active{
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsla(228, 100%, 84%, 0.295);
}

.bordeer{
    border: 1px solid hsl(229, 24%, 87%);
    margin-right: 10px;
    margin-top: 30px;
    border-radius: 7px;
    margin-left: 4px;
    width: 120px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
    cursor: pointer;
}

.bordeer:active{
    border: 1px solid hsl(213, 96%, 18%);
    background-color: hsla(228, 100%, 84%, 0.295);
}

.ico{
    
    margin-bottom: 29px;
}

.icon{
    margin-top: 10px;
    margin-bottom: 22px;
}

h3{
    color: hsl(213, 96%, 18%);
    margin-left: 0px;
    margin-bottom: 5px;
}

.value{
    color: hsl(231, 11%, 63%);
}

.mo{
    color: hsl(231, 11%, 63%);
}

.monthly{
    margin-top: 35px;
    width: 418px;
    background-color: hsl(217, 100%, 97%);
    padding: 12px;
    border-radius: 5px;
}

.mon{
    margin-left: 120px;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.yearly{
    margin-left: 70px;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

.go-back{
    color: hsl(231, 11%, 63%);
    background-color: transparent;
    border: 0px;
    margin-top: 140px;
    margin-left: 0px;
    font-size: 0.9rem;
    cursor: pointer;
}

.go-back:hover{
    color: hsl(213, 96%, 18%);
}

.btn{
    margin-left: 260px;
    width: 100px;
    margin-top: 140px;
    padding: 12px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}